body{
    display: table;
    width: 100%;
    height: 95vh;
}
div{
    /*border: 1px solid black;*/
    font-family: Arial;
    font-size: 25px;
    color: white;
    /*transition-property: color;
    transition-duration: 5s;
    transition-timing-function: ease;
    transition-delay: 2s;
    transition: all 3s linear 2s;*/
    width: 100%;
    height: 100%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}