@font-face {
    font-family: 'StMarie Thin';
    src: url(../font/st-marie.ttf);
}
@font-face {
    font-family: 'Bebas';
    src: url(../font/bebas.ttf);
}

html, body, h1, figure{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
    width: 1600px;
    margin: auto;
}
body{
    min-height: 100%;
    position: relative;
}
header{
    height: 128px;
    width: 1600px;
    background-color: rgb(255,255,255);
    border-bottom: 4px solid rgb(251,156,6);
    position: fixed;
    z-index: 1;
}
.orange_rabbit{
    height: 128px;
    float: left;
    margin-top: 5px;
    margin-left: 218px;
}
.orange_rabbit img{
    float: left;
}
.orange_rabbit figcaption{
    color: rgb(251,156,6);
    float: right;
    margin: 7px 0 0 51px;
    font-family: Calibri;
    font-size: 18px;
    letter-spacing: 1.2px;
    text-align: center;
}
figcaption>h1>span:last-child{
    font-family: 'Bebas';
    color: rgb(110,109,107);
}
.home-icon,.about-icon,.work-icon,.blog-icon,.contact-icon{
    background-image: url("../img/icon/icons.png");
    width: 55px;
    height: 50px;
    margin: auto;
    margin-bottom: 5px;
}
.home-icon{
    background-position: 0 -4px;
}
.about-icon{
    background-position: 0 -52px;
    margin-left: 12px;
}
.work-icon{
    background-position: 0 -100px;
    margin-right: 15px;
}
.blog-icon{
    background-position: 0 -150px;
}
.contact-icon{
    background-position: 0 -200px;
}
nav>figure>a>figcaption:hover{
    color:rgb(135,206,250);
}
a{
    text-decoration: none;
}
nav figure{
    width: 70px;
    height: 47px;
    display: inline-block;
    padding-left: 56px;
    text-align: center;
}
nav>figure>a>figcaption{
    margin-top: 5px;
    color: rgb(158,155,155);
    font-family: Calibri;
    font-size: 20px;
    letter-spacing: 1.5px;
    transition: 1s;
}
nav{
    float: right;
    margin-top: 21px;
    margin-right: 202px;
    cursor: pointer;
}
.slider{
    background-image: url("../img/big-orange.png");
    background-repeat: no-repeat;
    background-position: bottom;
    width: 1600px;
    height: 400px;
    padding-top: 132px;
    border-bottom: 4px solid rgb(251,156,6);
    font-size: 38px;
    font-family: 'Bebas';
}
div.slider>div:first-child{
    position: absolute;
    top: 262px;
    left: 221px;
    width: 380px;
    height: 66px;
    background-color: rgba(0,0,0,0.69);
    line-height: 60px;
    color: rgb(251,156,6);
}
div.slider>div:first-child div{
    margin-left: 30px;
}
div.slider>div:last-child{
    position: absolute;
    top: 355px;
    left: 210px;
    width: 396px;
    height: 76px;
    background-color: rgba(255,175,18,0.7);
    color: rgb(110,109,107);
    line-height: 68px;
}
div.slider>div:last-child div{
    margin-left: 32px;
    letter-spacing: 0.2px;
}
section.text_information{
    width: 1200px;
    height: 166px;
    padding-left: 10px;
    margin: auto;
    margin-top: 30px;
    overflow: hidden;
}
section.text_information article{
    width: 270px;
    height: 161px;
    line-height: 23px;
    letter-spacing: 0.001px;
    display: inline-block;
    font-family: Calibri;
    text-align: left;
    margin-left: 17px;
    margin-right: 13px;
    color: rgb(103,103,103);
    overflow: auto;
}
.read_more{
    float: right;
    margin-right: 12px;
    color: rgb(251,156,6);
    font-style: italic;
    cursor: pointer;
    letter-spacing: 0.3px;
}
.header_main,.header_form{
    width: 500px;
    margin: auto;
    text-decoration: underline;
    color: rgb(255,156,0);
    font-size: 31pt;
    font-family: 'StMarie Thin';
    letter-spacing: 0.4px;
}
.header_main{
    padding: 38px 0 32px 244px;
}
.header_form{
    padding: 48px 0 35px 147px;
}
.team figure{
    width: 292px;
    height: 292px;
    border-radius: 196px;
    border: 10px solid rgb(255,181,64);

}
.infoAboutAnim{
    width: 270px;
    text-align: left;
    margin: auto;
    padding: 24px 0 0 25px;
}
.team div,.team figcaption{
    font-family: Calibri;
    color: rgb(173,173,173);
}
.nameOfTeam{
    color: rgb(255,156,0);
}
.team{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: auto;
}
.team div:not(.infoAboutAnim){
    width: 292px;
    text-align: center;
}
.hourse_img{
    background-image: url("../img/hourse.jpg");
    background-position: -85px,0;
}
.rabbit_img{
    background-image: url("../img/rabbit.jpg");
    background-position: -20px,10px;
    background-size: 200%;
}
.goose_img{
    background-image: url("../img/goose.jpg");
    background-size: cover;
}
.team figcaption{
    font-size: 23px;
    padding-bottom: 27px;
    width: 200px;
    margin-left: 54px;
}
form{
    display: table;
    width: 1200px;
    margin: auto;
    padding-bottom: 80px;
    padding-top: 11px;
}
.name,.email,.message,.submit{
    display: table-row;
}
[name="email"],[name="name"],[name="message"]{
    width: 1062px;
    height: 29px;
    display: table-cell;
    border-left: 5px solid rgb(210,208,207);
    margin: 19px 0;
}
[name="submit"]{
    float: right;
    background-color: rgb(251,156,6);
    color: rgb(255,255,255);
    width: 175px;
    height: 47px;
    border-bottom: 3px solid rgb(204,131,15);
    font-size: 33px;
    font-family: 'StMarie Thin';
    margin: 1px 32px 43px 0;
}
form label{
    font-family: 'StMarie Thin';
    color: rgb(251,156,6);
    display: table-cell;
    padding: 18px 25px 0 0;
    font-size: 25px;
    vertical-align: top;
}
[name="message"]{
    height: 85px;
    resize: none;
}
footer{
    position: absolute;
    bottom: 0;
    height: 70px;
    line-height: 70px;
    background-color: rgb(251,156,6);
    width: 100%;
    text-align: center;
    color: rgb(255,255,255);
    font-family: 'StMarie Thin';
    border-bottom: 3px solid rgb(204,131,15);
    font-size: 33px;
    letter-spacing: 0.855px;
    margin-top: 70px;
}